@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-trading-cards-user
  padding: 16px

  > .actions
    > li
      list-style-type: none
      display: inline-block
      padding: 16px
