@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-kc-home
  padding: 16px
  
  > .g-grid
    > .g-col
      > .title
        font-weight: 500

      > .user, > .stat
        line-height: 24px
        display: block
