@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-meta-info
  display: flex
  padding: 16px
  flex-wrap: wrap

  > .tag
    zp-font-title()
    padding: 16px

    > .value
      zp-font-body2()
      margin-left: 16px
