@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-metrics
  > .user-filter
    margin: 16px
    display: flex

    > .zp-input
      flex: 1

  > .overview
    display: flex

    > .app
      flex: 1
      margin: 16px
      padding: 20px
      border: 1px solid $black

      > .name
        zp-font-title()

      > .aggregate
        > .name
          padding: 2px 16px 2px 0

        > .delta
          padding-left: 8px
          color: $red500

        &.is-increase
          > .delta
            color: $green500


  > .graphs
    display: flex
    flex-wrap: wrap

    > .metric
      flex: 1
      display: inline-block
      min-width: 500px
      min-height: 250px
      box-sizing: border-box
      border: 2px solid $black26
      padding: 8px
      margin: 8px
